@model Domain.Entities.TicketActivity

@using (Html.BeginForm("Create", "TicketActivity", FormMethod.Post))
{

    @Html.HiddenFor(x=>x.Date, new {@Value= @DateTime.Now.ToShortDateString()})
    @Html.HiddenFor(x=>x.Time, new {@Value= DateTime.Now.ToLongTimeString()})

    <div class="row">
    @Html.AntiForgeryToken()
        <div class="col-md-11" style="margin-left:-10px; display:inline-flex;height:120px;">
            <div class="col-md-1">
                <img class="thumbnail" src="~/Images/empty-icon.png" alt="...">
            </div>
            @Html.TextAreaFor(model => model.Activity, new { @class = "form-control", @id = "txtActivity", @placeholder = "Type an update...", @style = "resize:none;" })
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary" id="btnSave" type="submit" style="margin-left:82px;margin-top:10px;display:none;"><i class="fa fa-save"></i> Save</button>
    </div>
}

