@model Domain.Entities.Survey

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .lbl{font-size:12px;}
    .textArea{width:80%;height:70px;}
    .marginLeft{margin-left:5px;}
</style>

<section class="content-header">
    <h1>Survey Satisfaction</h1>
</section>

<br />
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h2 class="box-title">How satisfied are you with:</h2>
                </div>
                <br />
                <div class="box-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="lbl">Overall, how satisfied are you with the consultant assigned?</label>
                                    <br />
                                    <br />
                                    @Html.RadioButtonFor(model => model.Answer1, "Very Satisfied", new { required = "required" }) <span class="lbl marginLeft">Very Satisfied</span>
                                    <br />
                                    @Html.RadioButtonFor(model => model.Answer1, "Satisfied") <span class="lbl marginLeft">Satisfied</span>
                                    <br />
                                    @Html.RadioButtonFor(model => model.Answer1, "Neutral") <span class="lbl marginLeft">Neutral</span>
                                    <br />
                                    @Html.RadioButtonFor(model => model.Answer1, "Dissatisfied")<span class="lbl marginLeft">Dissatisfied</span>
                                    <br />
                                    @Html.RadioButtonFor(model => model.Answer1, "Very Dissatisfied")<span class="lbl marginLeft">Very Dissatisfied</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="lbl">Overall, how satisfied are you with the consultant assigned?</label>
                                    <br />
                                    <br />
                                    @Html.RadioButtonFor(model => model.Answer2, "Very Satisfied", new { required = "required" }) <span class="lbl marginLeft">Very Satisfied</span>
                                    <br />
                                    @Html.RadioButtonFor(model => model.Answer2, "Satisfied") <span class="lbl marginLeft">Satisfied</span>
                                    <br />
                                    @Html.RadioButtonFor(model => model.Answer2, "Neutral") <span class="lbl marginLeft">Neutral</span>
                                    <br />
                                    @Html.RadioButtonFor(model => model.Answer2, "Dissatisfied")<span class="lbl marginLeft">Dissatisfied</span>
                                    <br />
                                    @Html.RadioButtonFor(model => model.Answer2, "Very Dissatisfied")<span class="lbl marginLeft">Very Dissatisfied</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label class="lbl">Please tell us how we could improve the quality of support we provide to you or your organization:</label>
                                    <br />
                                    @Html.TextAreaFor(model => model.Answer3, new { htmlAttributes = new { @class = "textArea",style= "width:80%;height:70px;" } })
                                </div>
                            </div>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="lbl">Overall, how satisfied are you with the consultant assigned?</label>
                                    <br />
                                    <br />
                                    @Html.RadioButtonFor(model => model.Answer4, 5) <span class="lbl marginLeft">Very Satisfied</span> 
                                    <br />
                                    @Html.RadioButtonFor(model => model.Answer4, 2, new { required="required"})<span class="lbl marginLeft">Neutral</span>
                                    <br />
                                    @Html.RadioButtonFor(model => model.Answer4, 1)<span class="lbl marginLeft">Dissatisfied</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label class="lbl">Add recommendations / suggestions </label>
                                    <br />
                                    @Html.TextAreaFor(model => model.Comments, new { htmlAttributes = new { @class = "textArea", style = "width:80%;height:70px;" } })
                                </div>
                            </div>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-send"></span>    Send </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>