@model Domain.Entities.SLA

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">X</span>
    </button>
    <h4 class="modal-title">Edit Service Level Agreement</h4>
</div>

@using (Html.BeginForm("Edit", "SLAs", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)

    <div class="modal-body">
        <div class="form-group" style="display:none;">
            <label class="control-label col-md-2">Date:</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.CreationDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = @DateTime.Now.ToShortDateString(), @style = "background-color:#fff;" } })
            </div>
        </div>
        <br />

        <div class="form-group">
            <label class="control-label col-md-2">Name:</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "SLA Name", @required = "required" } })
            </div>
        </div>
        <br /><br />

        <div class="form-group">
            <label class="control-label col-md-2">Scope:</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Scope, new { htmlAttributes = new { @class = "form-control", @placeholder = "SLA Scope", @required = "required" } })
            </div>
        </div>
        <br /><br />

        <label class="control-label col-md-2">Resolution Average:</label>
        <div class="input-group col-md-8">
            @Html.EditorFor(model => model.ResolutionTimeAverage, new { htmlAttributes = new { @class = "form-control", @placeholder = "Resolution Average", @required = "required" } })
            <span class="input-group-addon"><strong>%</strong></span>
        </div>
        <br /><br /><br />

        <div class="form-group">
            <label class="control-label col-md-2">Support Type:</label>
            <div class="col-md-8">
                @Html.DropDownListFor(x => x.SupportType, new List<SelectListItem>
                        {
                          new SelectListItem() {Text = "Standard", Value="Standard"},
                          new SelectListItem() {Text = "Premier", Value="Premier"}
                        }, new { @class = "form-control select2", @required = "required" })
            </div>
        </div>
        <br /><br />

        <div class="form-group">
            <label class="control-label col-md-2">Priority:</label>
            <div class="col-md-8">
                @Html.DropDownListFor(x => x.PriorityName, new List<SelectListItem>
                        {
                          new SelectListItem() {Text = "High", Value="High"},
                          new SelectListItem() {Text = "Medium", Value="Medium"},
                          new SelectListItem() {Text = "Low", Value="Low"}
                        }, new { @class = "form-control select2", @required = "required" })
            </div>
        </div>
        <br /><br />

        <label class="control-label col-md-2">Response Time:</label>
        <div class="input-group col-md-8">
            @Html.EditorFor(model => model.ResponseTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "Response Time" } })
            <span class="input-group-addon"><strong>Hours</strong></span>
        </div>
        <br />
        <br />
        <br />
    </div>

    <div class="modal-footer">
        <input type="submit" value="Save" class="btn btn-success pull-right" />  
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


