@model Domain.Entities.Technology

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">X</span>
    </button>
    <h4 class="modal-title text-danger">Are you Sure to delete this technology?</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Name:</dt><dd>@Html.DisplayFor(model => model.Name)</dd>
            <dt>Weight:</dt><dd> @Html.DisplayFor(model => model.Weight) </dd>
            <dt>Description:</dt><dd> @Html.DisplayFor(model => model.Description)</dd>
            <dt>Hour Price:</dt><dd> @Html.DisplayFor(model => model.HourPrice)</dd>
        </dl>
        <div class="pull-right">
            <button class="btn btn-danger" data-dismiss="modal">No</button>
            <button class="btn btn-success" type="submit" id="DeleteTech">Yes</button>
        </div>
    </div>
    <div class="modal-footer"></div>
}

<script>
    $('#DeleteTech').click(function () {
        $('#myModal').modal('hide');
    });

    // function to delete row
    function confirmedDeletion($button){
        $.post("@Url.Action("Delete", "TechnologiesController")", { id : id } , function (data) {
        if(data.Success) {
            $button.closest('tr').remove();
        }
    });
   }
</script>