@model UI.Models.ExpandedUserDTO

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">X</span>
    </button>
    <h4 class="modal-title">New User</h4>
</div>

<div class="modal-body">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <p class="text-success" style="font-size: 13px;margin-left: 15px;">Password must contain:  Numbers, Uppercase letter and Special character. </p>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Email, "Email:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required="required", placeholder="Email..."} })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <br /><br />

        <div class="form-group">
            @Html.LabelFor(model => model.Password, "Password:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", required = "required", placeholder= "Password..." })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <br /><br />

        <div class="form-group">
            @Html.LabelFor(model => model.Roles, "Role:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.DropDownList("Roles", null, "-- Choose Role --", new { @class = "form-control",required="required", @id="DropRoles"})
            </div>
        </div>

        <br /><br />
        <div class="form-group" id="CustomerDiv" >
            @Html.LabelFor(model => model.CustomerID, "Customer:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.DropDownListFor(m=>m.CustomerID, (IEnumerable<SelectListItem>)ViewData["Customers"], "-- Choose Company --", new { @class = "form-control" })
            </div>
        </div>
        <br /><br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
        <br />

        if (ViewBag.PassReq != null)
        {
            <span class="text-danger">@ViewBag.PassReq</span>
        }
    }
</div>

<div class="modal-footer"></div>

<script>  
    $(function() {
        $('#CustomerDiv').hide();
        $('#DropRoles').change(function () {
            if ($('#DropRoles').val() == 'Customer') {
                $('#CustomerDiv').show();
            } else {
                $('#CustomerDiv').hide();
            } 
        });
    });
</script>