@model UI.Models.ExpandedUserDTO

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">X</span>
    </button>
    <h4 class="modal-title">Edit User</h4>
</div>

<div class="modal-body">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, "Usuario Actual:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <strong> @Html.DisplayFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })</strong>
                @Html.ValidationMessageFor(model => model.UserName, "",
               new { @class = "text-danger" })
            </div>
        </div>
        <br /><br />

        <div class="form-group">
            @Html.LabelFor(model => model.Email, "Email:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
            <br /><br />

            <div class="form-group">
                @Html.LabelFor(model => model.Password, "Password:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <br /><br />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
    }
    </div>

<div class="modal-footer"></div>