@model IEnumerable<Domain.Entities.Ticket>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<section class="content-header">
    <h1>Incident History Report</h1>
</section>

<br />
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-header">
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("IncidentHistoryCustomer", "Reports", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">From:</label>

                                <div class="col-sm-3" style="display:inline-flex;">
                                    @Html.TextBox("DateFrom", null, new { @class = "form-control", @id = "datepicker", @placeholder = "From..", @required = "required", @style = "border-radius:5px;", @autocomplete = "off" })
                                </div>
                                <div class="col-sm-3" style="display:inline-flex;">
                                    <label for="to" class="control-label">To:</label>
                                    @Html.TextBox("DateTo", null, new { @class = "form-control", @id = "datepicker2", @placeholder = "To..", @required = "required", @style = "margin-left:10px;border-radius:5px;", @autocomplete = "off" })
                                </div>
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-share"></i> View</button>
                                    <a href="@Url.Action("exportIncidentHistoryCustomerToCSV", "Reports")" class="btn btn-success disabled" id="btnExcel" style="margin-left:30px;"><i class="fa fa-file-excel-o"></i> Excel</a>
                                </div>

                            </div>
                        </div>
                    }
                    <br />
                    <br />
                    <div class="box-header">
                        <h2 class="box-title" style="margin-left:-10px;">Incident History</h2>
                        <h4 class="box-title pull-right">Total: @ViewBag.TotalTickets</h4>
                    </div>

                    <table class="table table-bordered table-hover text-center" id="resolvedTable">
                        <tr>
                            <th> Date</th>
                            <th> Short Description</th>
                            <th> Severity</th>
                            <th> Task</th>
                            <th> Creator</th>
                            <th> Status</th>
                        </tr>

                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => item.Date)</td>
                                    <td> @Html.DisplayFor(modelItem => item.ShortDescription)</td>
                                    <td> @Html.DisplayFor(modelItem => item.Severity.SeverityName)</td>
                                    <td> @Html.DisplayFor(modelItem => item.TaskType.TaskName)</td>
                                    <td> @Html.DisplayFor(modelItem => item.Creator)</td>
                                    <td class="text-center">
                                        @if (item.Status == "Open")
                                        {
                                            <span class="label label-danger">@Html.DisplayFor(model => item.Status)</span>
                                        }
                                        else if (item.Status == "Work In Progress")
                                        {
                                            <span class="label label-warning">@Html.DisplayFor(model => item.Status)</span>
                                        }
                                        else if (item.Status == "Solution Suggested")
                                        {
                                            <span class="label label-success">@Html.DisplayFor(model => item.Status)</span>
                                        }
                                        else if (item.Status == "Pending Customer")
                                        {
                                            <span class="label label-success">@Html.DisplayFor(model => item.Status)</span>
                                        }
                                        else
                                        {
                                            <span class="label label-default">@Html.DisplayFor(model => item.Status)</span>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                    <br />
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery/dist/jquery.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script>

    var rowCount = $("#resolvedTable tr").length;
    if (rowCount == 1)
    {
        $("#btnExcel").attr('class', 'btn btn-success disabled');
    }
    else
    {
        $("#btnExcel").attr('class', 'btn btn-success');
    }

    $('#datepicker').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'MM/dd/yyyy'
    })

    $('#datepicker2').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'MM/dd/yyyy'
    })
</script>



