@model UI.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<style>
    .profile-user-img
     {
        margin: 0 auto;
        width: 105px;
        border:none;
     }
</style>
<br />
<br />
<br />
<section class="content-header">
    <h1>User Profile</h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-body">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive" src="~/Images/noprofile.png" alt="User profile picture">

                        @if(ViewBag.data != null)
                        {
                            foreach (var item in ViewBag.data)
                            {
                                if (item.FirstName != "Unassigned")
                                {
                                    <h3 class="profile-username text-center">@item.FirstName @item.LastName</h3>
                                }
                                else
                                {
                                    <h3 class="profile-username text-center">Administrator</h3>
                                }
                                <p class="text-muted text-center">@item.JobTitle</p>

                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item">
                                        <b>Country</b> <a class="pull-right text-muted">@item.Pais</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Email</b> <a class="pull-right text-muted">@item.Email</a>
                                    </li>
                                </ul>
                            }
                        }
                        else
                        {
                            foreach (var item in ViewBag.dataCustomer)
                            {
                                <h3 class="profile-username text-center">@item.CompanyName</h3>

                                <p class="text-muted text-center">@item.CompanyDescription</p>

                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item">
                                        <b>Country</b> <a class="pull-right text-muted">@item.Country</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Email</b> <a class="pull-right text-muted">@item.EmailAddress</a>
                                    </li>
                                </ul>
                            }
                        }
                </div>
            </div>

            <!-- About Me Box -->
            <div class="box box-body">
                <div class="box-header with-border">
                    <h3 class="box-title">About Me</h3>
                </div>
                <div class="box-body">

                @if (ViewBag.data != null)
                {
                    foreach (var item2 in ViewBag.data)
                    {
                        <strong><i class="fa fa-book margin-r-5"></i> Education</strong>
                        <p class="text-muted">@item2.Education</p>
                        <hr>

                        <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                        <p class="text-muted">@item2.Address , @item2.Pais</p>
                        <hr>

                        <strong><i class="fa fa-phone margin-r-5"></i> Phone</strong>
                        <p class="text-muted">@item2.PhoneNumber</p>
                    }
                }
                else
                {
                    foreach (var item2 in ViewBag.dataCustomer)
                    {
                        <strong><i class="fa fa-book margin-r-5"></i> Manager</strong>
                        <p class="text-muted">@item2.ManagerName</p>
                        <hr>

                        <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                        <p class="text-muted">@item2.Address , @item2.Address</p>
                        <hr>

                        <strong><i class="fa fa-phone margin-r-5"></i> Phone</strong>
                        <p class="text-muted">@item2.PhoneNumber</p>
                    }
                }
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab">Last Activity</a></li>
                    <li><a href="#settings" data-toggle="tab">Password Settings</a></li>
                </ul>

                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    @foreach (var item3 in ViewBag.activityData)
                    {            
                        <div class="post">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" src="~/Images/empty-icon.png" alt="user image">
                                <span class="username">
                                    <a href="#">@item3.User</a>
                                    <a href="#" class="pull-right" style="font-size: 13px;">Ticket No: @item3.idTicket</a>
                                </span>
                                <span class="description">@item3.Date @item3.Time</span>
                            </div>
                            <p>@item3.Activity </p>
                        </div>
                    }
                    </div>
                    <div class="tab-pane" id="settings">
                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Old Password:</label>
                                    <div class="col-sm-6">
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Old Password" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-sm-2 control-label">New Password:</label>
                                    <div class="col-sm-6">
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder="New Password" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Confirm Password:</label>
                                    <div class="col-sm-6">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-success">Update</button>
                                    </div>
                                </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}