@model Domain.Entities.TicketAttachmentModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/placeholder-icons")

<br />
<br />
<br />
<section class="content-header">
    <h1> New Incident</h1>
</section>

<br />
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h2 class="box-title">Fill incident information</h2>
                </div>
                <div class="box-body">
                    <br />
                    @using (Html.BeginForm("Create", "TicketAttachment", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <label class="control-label col-md-2">Date & Time:</label>
                        <div style="display:inline-flex;">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="right-inner-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        @Html.TextBoxFor(x => x.Date, new { @class = "form-control", @readonly = "readonly", @Value = DateTime.Now.ToShortDateString(), @style = "background-color:#fff;" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="right-inner-addon">
                                        <i class="glyphicon glyphicon-time"></i>
                                        @Html.TextBoxFor(x => x.OpenTime, new { @class = "form-control", @readonly = "readonly", @Value = DateTime.Now.ToString("HH:mm:ss"), @style = "margin-right:-30px;background-color:#fff;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        @Html.Hidden("Id_Customer")

                        <div class="form-group">
                            <label class="control-label col-md-2">Subject:</label>
                            <div class="col-xs-6">
                                @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control val", required = "required", placeholder = "Subject" } })
                            </div>
                        </div>
                        <br /><br />

                        <div class="form-group">
                            <label class="control-label col-md-2">Description:</label>
                            <div class="col-xs-6">
                                @Html.EditorFor(model => model.LongDescription, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Description" } })
                            </div>
                        </div>
                        <br /><br /><br />

                        <div class="form-group">
                            <label class="control-label col-md-2">Environment:</label>
                            <div class="col-xs-6">
                                @Html.EditorFor(model => model.Environment, new { htmlAttributes = new { @class = "form-control", placeholder = "Environment" } })
                            </div>
                        </div>
                        <br /><br /><br />

                        <div class="form-group">
                            <label class="control-label col-md-2">Technology:</label>
                            <div class="col-xs-6">
                                @Html.DropDownList("Id_Technology", null, "-- Choose One --", htmlAttributes: new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <br /><br />

                        <div class="form-group">
                            <label class="control-label col-md-2">Severity:</label>
                            <div class="col-xs-6">
                                @Html.DropDownList("Id_Severity", null, "-- Choose One --", htmlAttributes: new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <br /><br />

                        <div class="form-group">
                            <label class="control-label col-md-2">Impact:</label>
                            <div class="col-xs-6">
                                @Html.DropDownList("Id_Impact", null, "-- Choose One --", htmlAttributes: new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <br /><br />

                        <div class="form-group">
                            <label class="control-label col-md-2">Task Type:</label>
                            <div class="col-xs-6">
                                @Html.DropDownList("Id_TaskType", null, "-- Choose One --", htmlAttributes: new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <br /><br />

                        <div class="form-group">
                            <label class="control-label col-md-2">Status:</label>
                            <div class="col-xs-6">
                                @Html.DropDownListFor(x => x.Status, new List<SelectListItem>
                                    {
                                      new SelectListItem() {Text = "Open", Value="Open"}
                                    }, new { @class = "form-control select2", @readonly = "readonly", @style = "background-color:#fff;" })
                            </div>
                        </div>
                        <br /><br />

                        <div class="form-group">
                            <label class="control-label col-md-2">Consultant Assigned:</label>
                            <div class="col-xs-6">
                                @Html.DropDownList("Id_Consultant", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <br />

                        //Here goes Partial view for Attachments (dropzone)
                        <div class="form-group attach">
                            <label class="control-label col-md-2">Attachments:</label>
                            <div class="col-xs-6">
                                @Html.TextBoxFor(model => model.files, "", new {@class= "btn btn-default", @type = "file", @multiple = "multiple" })
                            </div>
                        </div>
                        <br /><br /><br />

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Submit Incident" class="btn btn-success col-xs-4" style="width:509px;" />
                            </div>
                        </div>
                        <br /><br />
                    }
                </div>
            </div>
        </div>
    </div>
</section>
