@model Domain.Entities.Ticket
@{
    ViewBag.Title = "viewInvoiceDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .col-xs-6
    {
        margin-top:40px;
    }
</style>

<section class="content-header">
    <h1>Invoice<small>#007612</small></h1>
</section>

<br />
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="col-sm-4 invoice-col">
                        <h5>From</h5>
                        <address>
                            <strong>Admin, PlusB.</strong><br>
                            <i class="fa fa-map-marker"></i>    Escazú, San José Costa Rica<br>
                            <i class="fa fa-phone"></i>         (506) 2284-1036<br>
                            <i class="fa fa-envelope"></i>      info@plusb.com
                        </address>
                    </div>
                    <div class="col-sm-4 invoice-col">
                        <h5>To</h5>
                        <address>
                            <strong>@Html.DisplayFor(modelItem => modelItem.Customer.CompanyName)</strong><br>
                            <i class="fa fa-map-marker"></i>    @Html.DisplayFor(modelItem => modelItem.Customer.Address)<br>
                            <i class="fa fa-phone"></i>         @Html.DisplayFor(modelItem => modelItem.Customer.PhoneNumber)<br>
                            <i class="fa fa-envelope"></i>      @Html.DisplayFor(modelItem => modelItem.Customer.EmailAddress)
                        </address>
                    </div>
                    <div class="col-sm-4 invoice-col">
                        <b>Invoice #007612</b><br>
                        <br>
                        <b>Order ID:</b> 4F3S8J<br>
                        <b>Payment Due:</b> 2/22/2014<br>
                        <b>Account:</b> 968-34567
                    </div>
                    <div class="col-xs-8" style="left:12%;margin-top:25px;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Technology</th>
                                    <th>Description</th>
                                    <th>Billable Hours</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => modelItem.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => modelItem.Technology.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => modelItem.ShortDescription)</td>
                                    <td>@Html.DisplayFor(modelItem => modelItem.TotalResolutionHours)</td>
                                </tr>                            
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <div class="col-xs-6">
                            <p class="lead">Payment Methods:</p>
                            <img src="~/Images/visa.png" alt="Visa">
                            <img src="~/Images/mastercard.png" alt="Mastercard">
                            <img src="~/Images/paypal2.png" alt="Paypal">
                        </div>
                        <div class="col-xs-6">
                            <p class="lead">Amount Due 2/22/2014</p>

                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th style="width:50%">Subtotal:</th>
                                        <td>$@ViewBag.Subtotal</td>
                                    </tr>
                                    <tr>
                                        <th>Tax (13%)</th>
                                        <td>@ViewBag.Tax</td>
                                    </tr>
                                    <tr>
                                        <th>Total:</th>
                                        <td>@ViewBag.Total</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Generate PDF</a>

                        @using (Html.BeginForm("Cats", "Invoice", FormMethod.Post))
                        {
                         <button type="submit" class="btn btn-primary pull-right">
                            <i class="fa fa-send-o"></i> Submit to CATS
                         </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>