@model IEnumerable<Domain.Entities.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Customers</h1>
</section>

<br />
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h2 class="box-title">List of customers </h2>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default" style="float:right;" data-toggle='tooltip' title='Create'>New Customer</button>
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-hover">
                        <tr>
                            <th>Company</th>
                            <th>Manager</th>
                            <th>Country</th>
                            <th>Phone Number</th>
                            <th>Support Type</th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
                                <td>@Html.DisplayFor(modelItem => item.ManagerName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Country)</td>
                                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.SupportType)</td>
                                <td>
                                    @Html.Raw("<a data-modal='' href='/Customers/Edit/" + item.Id + "' id='" + item.Id + "' class='btn btn-info' data-toggle='tooltip' title='Edit'> <span class='glyphicon glyphicon-edit'> </span> </a>")
                                    @Html.Raw("<a data-modal='' href='/Customers/Delete/" + item.Id + "' id='" + item.Id + "' class='btn btn-danger' data-toggle='tooltip' title='Delete'> <span class='glyphicon glyphicon-trash'> </span> </a>")
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">New Customer</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("PartialCustomers/_createCustomer", new Domain.Entities.Customer())
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/Scripts/Modals.js")
}
<script>
    $(document).ready(function () {
        $('#example1').DataTable({
            "bPaginate": true,
            "bFilter": true,
            "bInfo": true
        });
    });
</script>