@model IEnumerable<Domain.Entities.Ticket>
@{
    ViewBag.Title = "My Tickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>My Tickets</h1>
</section>

<br />
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header">
                    <h2 class="box-title">List of tickets assigned to me</h2>
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-hover">
                        <tr>
                            <th> Date & Time Opened</th>
                            <th> Company</th>
                            <th> Severity</th>
                            <th> Short Description</th>
                            <th> Assignment</th>
                            <th> Status</th>
                            <th></th>
                        </tr> 

                        @foreach (var item in Model)
                        {
                            var colorClass = "Black";
                            if (item.Id_Severity.Equals(4))
                            {
                                colorClass = "Red";
                            }

                            <tr class="@colorClass">
                                <td><strong> @Html.DisplayFor(modelItem => item.Date) @Html.DisplayFor(modelItem => item.OpenTime)</strong></td>
                                <td> @Html.DisplayFor(modelIem => item.Customer.CompanyName)</td>
                                <td> @Html.DisplayFor(modelItem => item.Severity.SeverityName)</td>
                                <td> @Html.DisplayFor(modelItem => item.ShortDescription)</td>
                                <td> @Html.DisplayFor(modelItem => item.Consultant.Email)</td>
                                <td> 
                                     @if (item.Status == "Open")
                                     {
                                        <span class="label label-danger">@Html.DisplayFor(modelItem => item.Status)</span>
                                     }
                                     else if (item.Status == "Work In Progress")
                                     {
                                        <span class="label label-warning">@Html.DisplayFor(modelItem => item.Status)</span>
                                     }
                                     else
                                     {
                                        <span class="label label-success">@Html.DisplayFor(modelItem => item.Status)</span>
                                     }
                                </td>
                                <td>
                                    @Html.Raw("<a href='/Tickets/Assigned/" + item.Id + "' id='" + item.Id + "' title='Open Incident'>View</a>")
                                   
                                </td>
                            </tr>

                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section Scripts{

    @Scripts.Render("~/Scripts/Modals.js")
    <script>
    $(document).ready(function () {
        $('#example1').DataTable({
            "bPaginate": true,
            "bFilter": true,
            "bInfo": true
        });
    });
    </script>
}

