@model PagedList.IPagedList<Domain.Entities.Ticket>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Unassigned Tickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .Black {color: #000000;}
    .Red   {color: #b94a48;}
</style>

<section class="content-header">
    <h1>Unassigned Tickets</h1>
</section>

<br />
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h2 class="box-title">List of tickets </h2>
                    <br />
                    <br />
                    <div>
                        <div class="pull-left">
                            @using (Html.BeginForm("UnassignedList", "Tickets", FormMethod.Get))
                            {
                                <div class="input-group col-md-3" style="margin-left:-15px;">
                                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @id = "txtSearch", @placeholder = "Search..", @type = "search" })
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-hover">
                        <tr>
                            <th> Date & Time Opened</th>
                            <th> Company</th>
                            <th> Severity</th>
                            <th> Short Description</th>
                            <th> Assignment</th>
                            <th> Status</th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                                var colorClass = "Black";
                                if (item.Id_Severity.Equals(4))
                                {
                                    colorClass = "Red";
                                }

                            <tr class="@colorClass">
                                <td><strong> @Html.DisplayFor(modelItem => item.Date) @Html.DisplayFor(modelItem => item.OpenTime)</strong></td>
                                <td> @Html.DisplayFor(modelIem => item.Customer.CompanyName)</td>
                                <td>
                                    @if (item.Severity.SeverityName == "Critical")
                                    {
                                        <span class="label label-danger"> @Html.DisplayFor(modelItem => item.Severity.SeverityName)</span>
                                    }
                                    else if (item.Severity.SeverityName == "Major")
                                    {
                                        <span class="label label-warning"> @Html.DisplayFor(modelItem => item.Severity.SeverityName)</span>
                                    }
                                    else
                                    {
                                        <span class="label label-info"> @Html.DisplayFor(modelItem => item.Severity.SeverityName)</span>
                                    }
                                </td>
                                <td> @Html.DisplayFor(modelItem => item.ShortDescription)</td>
                                <td> @Html.DisplayFor(modelItem => item.Consultant.FirstName)</td>
                                <td>
                                    @if (item.Status == "Open")
                                    {
                                        <span class="label label-danger">@Html.DisplayFor(modelItem => item.Status)</span>
                                    }
                                    else if (item.Status == "Work In Progress")
                                    {
                                        <span class="label label-warning">@Html.DisplayFor(modelItem => item.Status)</span>
                                    }
                                    else if (item.Status == "Solution Suggested")
                                    {
                                        <span class="label label-success">@Html.DisplayFor(modelItem => item.Status)</span>
                                    }
                                    else
                                    {
                                        <span class="label label-default">@Html.DisplayFor(modelItem => item.Status)</span>
                                    } 
                                </td>
                                <td>
                                    @Html.Raw("<a data-modal='' href='/Tickets/Details/" + item.Id + "' id='" + item.Id + "' class='btn btn-default' data-toggle='tooltip' title='View Details'> <span class='glyphicon glyphicon-resize-full'> </span> </a>")
                                    @Html.Raw("<a data-modal='' href='/Tickets/AssignTicket/" + item.Id + "' id='" + item.Id + "' class='btn btn-success' data-toggle='tooltip' title='Assign Ticket to Me'> <span class='glyphicon glyphicon-saved'> </span> </a>")                              
                                </td>
                            </tr>
                        }
                    </table>
                    <br />
                    <div class="pull-right">
                        @Html.PagedListPager(Model, page => Url.Action("UnassignedList", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/Scripts/Modals.js")
}
