@model Domain.Entities.Ticket

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">X</span>
    </button>
    <h4 class="modal-title text-bold">Do you want to assign this ticket to you?</h4>
</div>

@using (Html.BeginForm("AssignTicket", "Tickets",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <strong>Date & Time Opened: </strong>  @Html.DisplayFor(model => model.Date) @Html.DisplayFor(model => model.OpenTime)
        <br />
        <strong>Status: </strong>     @Html.DisplayFor(model => model.Status)
        <br />
        <strong>Company:    </strong>     @Html.DisplayFor(model => model.Customer.CompanyName)
        <br />
        <strong>Short Description:  </strong>     @Html.DisplayFor(model => model.ShortDescription)
        <br />
        <strong>Task:   </strong>     @Html.DisplayFor(model => model.TaskType.TaskName)
        <br />
        <strong>Impact: </strong>   @Html.DisplayFor(model => model.Impact.ImpactName)
        <br />
        <strong>Severity:   </strong>     @Html.DisplayFor(model => model.Severity.SeverityName)
        <br />
        <strong>Technology: </strong>   @Html.DisplayFor(model => model.Technology.Name)
        <br />
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="submit" id="assignTicket">Assign to me</button>
        <button class="btn btn-danger" data-dismiss="modal">No</button>     
    </div>
}