@model Domain.Entities.Ticket

<style>
    #tblDelete th {
        background-color: #e9ecef;
        border-color: #dee2e6;
    }
</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">X</span>
    </button>
    <h4 class="modal-title text-danger">Are you Sure to delete this ticket?</h4>
</div>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="modal-body">
    <strong>Date & Time Opened: </strong>  @Html.DisplayFor(model => model.Date) @Html.DisplayFor(model => model.OpenTime)
    <br />
    <strong>Consultant Assigned:</strong>  @Html.DisplayFor(model => model.Consultant.FirstName) @Html.DisplayFor(model => model.Consultant.LastName)
    <br />
    <strong>Task:</strong>     @Html.DisplayFor(model => model.TaskType.TaskName)
    <br />
    <strong>Impact:</strong>   @Html.DisplayFor(model => model.Impact.ImpactName)
    <br />
    <strong>Severity:</strong>     @Html.DisplayFor(model => model.Severity.SeverityName)
    <br />
    <strong>Technology:</strong>   @Html.DisplayFor(model => model.Technology.Name)
    <br />
    <strong>Status:</strong>     @Html.DisplayFor(model => model.Status)

    <br /><br />
    <table class="table table-bordered" id="tblDelete">
        <tr>
            <th> Short Description</th>
            <th> Long Description</th>
            <th> Environment</th>
        </tr>

        <tr>
            <td> @Html.DisplayFor(model => model.ShortDescription)</td>
            <td> @Html.DisplayFor(model => model.LongDescription)</td>
            <td> @Html.DisplayFor(model => model.Environment)</td>
        </tr>

    </table>
</div>

<div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal">No</button>
    <button class="btn btn-success" type="submit" id="DeleteTicket">Yes</button>
</div>

}

<script>
    $('#DeleteTicket').click(function () {
        $('#myModal').modal('hide');
    });

    // function to delete row
    function confirmedDeletion($button){
        $.post("@Url.Action("Delete", "TicketsController")", { id : id } , function (data) {
        if(data.Success) {
            $button.closest('tr').remove();
        }
    });
   }
</script>