@using UI.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log In - PlusB";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style> .input-group-addon{background-color: #fff;}</style>

<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
     {
        @Html.AntiForgeryToken()
        <div class="form-group ">
            <div class="col-xs-12">
                <div class="input-group" >
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Username" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group ">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <br />
            <div class="form-group">
                <div class="col-md-12">
                    <button class="btn btn-success" type="submit" style="width:347px;">Log In</button>
                </div>
            </div>

            <br />

            <div class="form-group text-center">
                <div class="col-md-12">
                    <a href="@Url.Action("ForgotPassword","Account")"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                </div>
            </div>
            }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}