@model Domain.Entities.KPI

@using (Html.BeginForm("Create", "KPIs", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group" style="display:none;">
        <label class="control-label col-md-2">Date:</label>
        <div class="col-md-8">
            @Html.EditorFor(model => model.CreationDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = @DateTime.Now.ToShortDateString(), @style = "background-color:#fff;" } })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Name:</label>
        <div class="col-md-8">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name...", @required = "required" } })
        </div>
    </div>
    <br />
    <br />
    <br />

    <div class="form-group">
        <label class="control-label col-md-2">Objective:</label>
        <div class="col-md-8">
            @Html.EditorFor(model => model.Objective, new { htmlAttributes = new { @class = "form-control", @placeholder = "Objective...", @required = "required" } })
        </div>
    </div>
    <br />
    <br />
    <br />

    <div class="form-group">
        <label class="control-label col-md-2">Compliance Percentage:</label>
        <div class="input-group col-md-8">
            @Html.EditorFor(model => model.FormulaValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Compliance Percentage...", @required = "required" } })
            <span class="input-group-addon"><strong>%</strong></span>
        </div>
    </div>
    <br />
    <br />
    <br />
        <input type="submit" value="Submit" class="btn btn-success pull-right" />
    <br />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
