@model Domain.Entities.KPI

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">X</span>
    </button>
    <h4 class="modal-title text-danger">Are you Sure to delete this KPI?</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt> Creation Date:</dt>
            <dd> @Html.DisplayFor(model => model.CreationDate)</dd>
            <dt> Name:</dt>
            <dd> @Html.DisplayFor(model => model.Name)</dd>
            <dt> Objective:</dt>
            <dd> @Html.DisplayFor(model => model.Objective) </dd>
            <dt> Compliance Percentage:</dt>
            <dd> @Html.DisplayFor(model => model.FormulaValue) </dd>
        </dl>
    </div>

    <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success" type="submit" id="DeleteKPI">Yes</button>
    </div>
}

<script>
    $('#DeleteKPI').click(function () {
        $('#myModal').modal('hide');
    });

    // function to delete row
    function confirmedDeletion($button){
        $.post("@Url.Action("Delete", "KPIsController")", { id : id } , function (data) {
        if(data.Success) {
            $button.closest('tr').remove();
        }
    });
   }
</script>