@model Domain.Entities.KPI

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">X</span>
    </button>
    <h4 class="modal-title">Edit Key Performance Indicator</h4>
</div>

@using (Html.BeginForm("Edit", "KPIs", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)

    <div class="modal-body">
        <div class="form-group">
            <label class="control-label col-md-2">Date:</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.CreationDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = @DateTime.Now.ToShortDateString(), @style = "background-color:#fff;" } })
            </div>
        </div>
        <br />
        <br />

        <div class="form-group">
            <label class="control-label col-md-2">Name:</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name...", @required = "required" } })
            </div>
        </div>
        <br />
        <br />
        <br />

        <div class="form-group">
            <label class="control-label col-md-2">Objective:</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Objective, new { htmlAttributes = new { @class = "form-control", @placeholder = "Objective...", @required = "required" } })
            </div>
        </div>
        <br />
        <br />
        <br />

        <div class="form-group">
            <label class="control-label col-md-2">Compliance Percentage:</label>
            <div class="input-group col-md-8">
                @Html.EditorFor(model => model.FormulaValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Compliance Percentage...", @required = "required" } })
                <span class="input-group-addon"><strong>%</strong></span>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <div class="modal-footer">
        <input type="submit" value="Save" class="btn btn-success pull-right" />
    </div>
}
