@model UI.Models.ConsultantUserModel

<link href="~/Content/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
@using (Html.BeginForm("Create", "ConsultantUser", FormMethod.Post))
{
    @Html.AntiForgeryToken()
       <div class="form-group">
           <label class="control-label col-md-2">First Name:</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", required="required" } })
            </div>
        </div>
        <br/><br/><br />

        <div class="form-group">
            <label class="control-label col-md-2">Last Name:</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            </div>
        </div>
        <br /><br />

        <div class="form-group">
            <label class="control-label col-md-2">Date Of Birth:</label>
            <div class="input-group date col-md-8">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control datepicker" } })
            </div>
        </div>
        <br /><br />

        <div class="form-group">
            <label class="control-label col-md-2">ID:</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.IdNumber, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            </div>
        </div>
        <br /><br />

        <div class="form-group">
            <label class="control-label col-md-2">Gender:</label>
            <div class="col-md-8">
                @Html.DropDownListFor(x => x.Gender, new List<SelectListItem>
                        {
                          new SelectListItem() {Text = "Male", Value="Male"},
                          new SelectListItem() {Text = "Female", Value="Female"},
                        }, new { @class = "form-control select2" })
            </div>
        </div>
        <br /><br />

        @Html.HiddenFor(x=>x.Email)

        <div class="form-group">
            <label class="control-label col-md-2">Country:</label>
            <div class="col-md-8">
               @Html.DropDownListFor(x=> x.Pais, new SelectList(ViewBag.CountryList), new { @class = "form-control" })
            </div>
        </div>
        <br /><br />

        <div class="form-group">
            <label class="control-label col-md-2">Address:</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br /><br />

        <div class="form-group">
            <label class="control-label col-md-2">Phone:</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            </div>
        </div>
        <br /><br />

        <div class="form-group">
            <label class="control-label col-md-2">Job Title:</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br /><br />

        <div class="form-group">
            <label class="control-label col-md-2">Education:</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Education, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br /><br />

        <div class="form-group">
            <label class="control-label col-md-2">Hire Date:</label>
            <div class="input-group date col-md-8">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                @Html.EditorFor(model => model.HireDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
            </div>
        </div>
        <br /><br />

        <div class="form-group">
            <label class="control-label col-md-2">Username:</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @type="email" } })
            </div>
        </div>
        <br /><br />

        <div class="form-group">
            <label class="control-label col-md-2">Password:</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type="password" } })
            </div>
        </div>
        <br /><br />
        @Html.HiddenFor(model=>model.ConsultantID)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery/dist/jquery.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script>
    $('.datepicker').datepicker("setDate", new Date());
    $('.datepicker').datepicker("option", "dateFormat", "dd/mm/yyyy");
</script>
